html,
.App {
  background-color: #141414;
  color: white;
  font-family: "Roboto", sans-serif;
}

.rentDiv {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-left: 40px;
  margin-right: 40px;
  height: 19rem;
}

.loader-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.interactionButton {
  cursor: pointer;
  width: 50px;
  height: 100%;
  border: 2px solid #4a514d;
  background-color: #4a514d;
  opacity: 0.5;
}

.interactionButton:hover {
  opacity: 1;
}

.backwardsButton {
  position: absolute;
  z-index: 3;
  left: 0;
  height: 100%;
  transform: rotate(180deg);
}

.nexButton {
  position: absolute;
  z-index: 3;
  right: 0;
}

.rentalDuration {
  font-style: italic;
  color: #129649;
}

.categoryTitle {
  margin-left: 14px;
}
.categoryMap {
  margin-bottom: 20px;
}
.card {
  min-height: 19rem;
  min-width: 18rem;
}

.film-view button {
  height: 3rem;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.2s;
}

.selectable {
  cursor: pointer;
  color: rgb(128, 197, 174);
  font-weight: bold;
}

.selectable:hover {
  color: #129649;
}

.house-icon {
  margin-right: 10px;
}

.goto-store:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.2s;
}

.load-more {
  cursor: pointer;
  color: #129649;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}
