html,
.App {
  background-color: #141414;
  color: white;
  font-family: "Roboto", sans-serif;
}

.rentDiv {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-left: 40px;
  margin-right: 40px;
  height: 19rem;
}

.interactionButton {
  cursor: pointer;
  width: 50px;
  height: 100%;
  border: 2px solid #4a514d;
  background-color: #4a514d;
  opacity: 0.5;
}

.interactionButton:hover {
  opacity: 1;
}

.backwardsButton {
  position: absolute;
  z-index: 3;
  left: 0;
  height: 100%;
  transform: rotate(180deg);
}

.nexButton {
  position: absolute;
  z-index: 3;
  right: 0;
}

.rentalDuration {
  font-style: italic;
  color: #129649;
}

.categoryTitle {
  margin-left: 14px;
}
.categoryMap {
  margin-bottom: 20px;
}
.card {
  min-height: 19rem;
  min-width: 18rem;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.2s;
}
